<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>EMOON</strong> by <a href="">JStudio</a>2017
            </p>
        </div>
    </div>
</footer>