<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
               We monitor exchanges and notify you when new coin is added
            </h1>
            <h2 class="subtitle">
                If you don't want to miss new coin feel free to subscribe.
            </h2>
            <div class="section">
                <div class="column is-4 is-offset-4">
                        <div class="field is-grouped">
                            <form method="" action="">
                                <input class="input" type="text" placeholder="Enter your email">
                                <button class="button">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>