includes:
    - vendor/symplify/easy-coding-standard/config/clean-code.neon
    - vendor/symplify/easy-coding-standard/config/symfony.neon

parameters:
    exclude_checkers:
        - PhpCsFixer\Fixer\ArrayNotation\TrailingCommaInMultilineArrayFixer
        - PhpCsFixer\Fixer\ControlStructure\YodaStyleFixer