<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}eMoon| Exchange monitor{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/flatly/bulmaswatch.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block nav %}
            {% include('/_partials/nav.html.twig') %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include('/_partials/footer.html.twig') %}
        {% endblock %}
        <script>{% block javascripts %}{% endblock %}</script>
    </body>
</html>
