{% import 'macros/coinImage.html.twig' as image %}

{% extends "base.html.twig" %}

{% block body %}
    <section class="container section">
        <div class="content">
            Pitaj da dodaju faco
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        console.log("hi fuckers!");
    </script>
{% endblock %}

