{% extends "base.html.twig" %}

{% block body %}
    {% for exchange in exchanges %}
        <h1>{{ exchange.name }}</h1> <span>Last update {{ exchange.updatedAt|date('d-m-y h:m') }}</span>
        {% for coin in exchange.coins  %}
            <li>{{ coin.symbol }} -> {{ coin.name }}</li>
        {% endfor %}
    {% endfor %}
{% endblock %}